.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 80px;
}

.directory-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-item {
  background-color: #DFE7EC;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid black;
  border-radius: 8px;
  margin: 0 7.5px 15px;

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 8px;

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: #1C181A;
    }

    .subtitle {
      color: #1C181A;
      font-weight: lighter;
      font-size: 16px;
    }
  }
}